/*Theme name
Theme URL: http://www.akademiakodu.pl
Author: Karol Łączyński
Author URI: http://www.facebook.com
Description: 0.1 Moja strona, pierwsza strona do bootkampu, 1.1 narodziny nowej templatki, screenshot.jpg optymalnie 1200px x 900px
Version: 1.1
License: GNU Public Licence
Tags: Bootcamp, FrontEnd, wordpress,akademia kodu
*/





