
@import "./../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	color: green;
}
html {
    font-size: 62.5%;
}
.menu {
    border-color: #e7e7e7;
}
@media (min-width: 768px) {
.menu {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    width: auto;
    border-top: 0;
    box-shadow: none;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
    display: none;
}
}

.nav > li {
    position: relative;
    display: block;
}
@media (min-width: 768px) {
.menu ul {
    float: left;
    margin: 0;
}
}
.menu ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


@media (min-width: 768px) {
.menu ul > li {
    float: left;
}
}

.menu ul > li {
    position: relative;
    display: block;
}

.menu ul > li > a {
    color: #777;
}
@media (min-width: 768px) {
.menu ul > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}}
.menu ul > li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.menu ul > li > a:hover, .menu ul > li > a:focus {
    text-decoration: none;
        color: #333;
}

.current_page_item {
   color: #555;
    background-color: #e7e7e7;
}

